# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la

# Qt user files
*.user
*.Debug
*.Release
ui_*.h
Makefile
Build/
build-*/
*.pro.user*
